.porta{ color:aqua; background-color: red; border-radius: 5 px ; font-size:30 px; }
.cs{ text-align: center; color: orange; background-color: black; border-radius: 30 px; }
.ol{ color: yellow; background-color: black; font-size: 20 px; border-radius:20 px ; }
